@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap");
$primary-font: "Inter", sans-serif;
$secondary-font: "Imprima", sans-serif;
$fontsize-headline: 32px; // 48
$fontsize-title: 24px; // 32
$fontsize-content1: 20px;
$fontsize-content2: 16px;
$fontsize-content3: 12px;
$primary-color: #006ba1;
$primary-color-transparent: rgba(0, 107, 161, 0.2);
$secondary-color: #38b8fa;
$black-color: #545454;
$black-transparent: rgba(84, 84, 84, 0.2);

*,
html,
body {
  margin: 0;
  padding: 0;
}
.headline {
  display: inline;
  padding: 0 18px;
  font-family: $primary-font;
  font-size: 5rem;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 20px transparent;
  background: linear-gradient(to right, $secondary-color, $primary-color);
  background-clip: text;
  -webkit-background-clip: text;
}

input {
  display: block;
  // width: 100%;
}

.input-form {
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 0px 8px 40px;
    margin-top: 30px;
    color: $primary-color;
    font-size: $fontsize-content1;
    font-family: $primary-font;
    border-radius: 10px;
    border: solid 1px $primary-color;
  }

  input::placeholder {
    color: $primary-color-transparent;
  }

  input:focus-visible {
    border: solid 1px $primary-color;
    outline: solid 1px $primary-color;
  }

  label {
    align-items: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-family: $primary-font;
    font-weight: 600;
    color: $primary-color;
  }
}

.button-fill {
  width: 100%;
  padding: 8px 0;
  font-family: $primary-font;
  font-size: $fontsize-content1;
  text-align: center;
  background-color: $primary-color;
  color: white;
  border: none;
}

.container-relog {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form {
    width: 50%;
    margin: 60px 70px 10px;

    h2 {
      margin-top: 50px;
      margin-bottom: 50px;
      font-family: $primary-font;
      font-size: $fontsize-title;
      color: $primary-color;
    }

    .container__checkbox-password {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      font-family: $primary-font;
      color: $primary-color;
      font-size: $fontsize-content2;

      .checkbox {
        display: flex;
        width: 100%;
        align-items: center;

        label {
          width: 100%;
        }
      }
      p {
        width: 100%;
        text-align: end;
        font-weight: bold;
      }
    }

    .text-reg {
      font-family: $primary-font;
      font-size: $fontsize-content2;
      color: $primary-color;
    }

    .continou-with {
      @extend .text-reg;
      margin-top: 40px;
      text-align: center;
    }

    .acount {
      display: flex;
      justify-content: space-around;
      margin: 58px 0 72px 0;
      img {
        width: 48px;
        border-radius: 0px;
      }
    }

    .space {
      height: 60px;
    }
  }

  img {
    width: 50%;
    margin: 16px;
    align-self: center;
    border-radius: 16px;
  }
}

.container-icon {
  display: flex;
  align-items: center;
  margin-top: 80px;

  img {
    width: 28px;
    margin-right: 8px;
  }

  p {
    font-family: $primary-font;
    font-size: $fontsize-headline;
    font-weight: 100;
    color: $black-color;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 150px;
  box-shadow: 0px 4px rgba(0, 169, 255, 0.15);

  .container-icon {
    margin: 0;
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input-form {
      position: relative;
      margin: 0 18px;

      input {
        margin: 0;
        font-size: $fontsize-content2;
        border-radius: 20px;
      }

      img {
        top: 4px;
        left: 15px;
        width: 20px;
        position: absolute;
      }
    }

    img {
      height: 30px;
      width: 30px;
    }

    .photo-profile-name {
      display: flex;
      align-items: center;
      p {
        margin-left: 4px;
        font-family: $primary-font;
        font-size: $fontsize-content2;
        font-weight: 400;
        color: $black-color;
      }
    }
  }
}

.category {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  border: 1px solid $primary-color;
  border-radius: 10px;
  cursor: pointer;

  img {
    width: 60px;
    margin-right: 8px;
  }

  p {
    font-family: $secondary-font;
    font-size: $fontsize-title;
    color: $primary-color;
  }
}

.card-book {
  width: 160px;
  display: block;
  flex-direction: column;
  padding: 20px 60px;
  box-shadow: 2px 2px 8px #38b9fa8a;
  border-radius: 12px;

  img {
    width: 160px;
    margin-bottom: 18px;
  }

  h4 {
    display: inline-block;
    width: 160px;
    margin-bottom: 12px;
    overflow: hidden;
    font-family: $primary-font;
    font-size: $fontsize-content2;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #006ba1;
  }

  p {
    width: 160px;
    margin-bottom: 24px;
    font-family: $secondary-font;
    font-size: 14px;
    color: $black-color;
  }
}

footer {
  padding: 80px 150px 8px;
  background-color: $primary-color;
  color: azure;

  h2,
  h3 {
    font-family: $secondary-font;
    font-size: $fontsize-content2;
  }

  h2 {
    padding: 20px 0;
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: $fontsize-content2;
    }

    p {
      font-family: $primary-font;
      font-size: $fontsize-content3;
    }

    .promo,
    .help {
      line-height: 2;
    }

    .contact {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .container-icon {
        justify-content: space-between;
        max-width: 500px;
        margin-top: 0;
        img {
          width: 20px;
        }
      }
    }
  }

  hr {
    margin-top: 18px;
  }
}

.container-cardbook {
  .title-container-cardbook {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    h3 {
      font-family: $primary-font;
      font-size: $fontsize-title;
      color: $primary-color;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-family: $secondary-font;
      color: #54545491;
    }
  }
  .container-content {
    display: flex;
    justify-content: space-between;
  }
}
