$primary-font: "Inter", sans-serif;
$secondary-font: "Imprima", sans-serif;
$fontsize-headline: 48px;
$fontsize-title: 32px;
$fontsize-content1: 20px;
$fontsize-content2: 16px;
$fontsize-content3: 12px;
$primary-color: #006ba1;
$primary-color-transparent: rgba(0, 107, 161, 0.2);
$secondary-color: #38b8fa;
$black-color: #545454;
$black-transparent: rgba(84, 84, 84, 0.2);
